name: 部署 VitePress 站点到 Pages

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 检出代码
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: 设置 pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8.6.12

      - name: 设置 Node 环境
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: "pnpm"
          cache-dependency-path: "**/pnpm-lock.yaml"

      - name: 安装依赖
        run: pnpm install
        env:
          NODE_OPTIONS: --max-old-space-size=4096

      - name: 安装视频播放器
        run: pnpm add -D xgplayer

      - name: 安装 vue
        run: pnpm add -D vue

      - name: 使用 VitePress 构建
        run: |
          pnpm run docs:build
          touch .vitepress/dist/.nojekyll

      - name: 上传构件
        uses: actions/upload-pages-artifact@v3
        with:
          path: .vitepress/dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    needs: build
    runs-on: ubuntu-latest
    name: 部署
    steps:
      - name: 部署到 GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4